@if (ViewBag.SortBy == ViewBag.ColumnName && ViewBag.SortOrder == SortOrder.Asc.ToString())
{
    <th>
        <a href="~/person/index?searchBy=@ViewBag.SearchBy&searchString=@ViewBag.SearchString&sortBy=@ViewBag.ColumnName&sortOrder=@nameof(SortOrder.Asc)">
            @ViewBag.DisplayName
        </a>
        <i class="fa-solid fa-sort-up"></i>
    </th>
}
else if (ViewBag.SortBy == ViewBag.ColumnName && ViewBag.SortOrder == SortOrder.Desc.ToString())
{
    <th>
        <a href="~/person/index?searchBy=@ViewBag.SearchBy&searchString=@ViewBag.SearchString&sortBy=@ViewBag.ColumnName&sortOrder=@nameof(SortOrder.Desc)">
            @ViewBag.DisplayName
        </a>
        <i class="fa-solid fa-sort-down"></i>
    </th>    
}
else
{
    <th>
        <a href="~/person/index?searchBy=@ViewBag.SearchBy&searchString=@ViewBag.SearchString&sortBy=@ViewBag.ColumnName&sortOrder=@nameof(SortOrder.Asc)">
            @ViewBag.DisplayName
        </a>
    </th>
}